.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tableCell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 33.33%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: none 0 transparent;
}

.tableHeaderCell {
  font-weight: bold;
}
